$icon-font-path: '../fonts/';

// bower:scss
//@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower
@import "bower_components/components-font-awesome/scss/font-awesome";

body {
  background: #ccc;
  text-align: center;
  font-family: 'Open sans', sans-serif;
  font-weight: 300;
}

path {
  cursor: pointer;
}

h1 {
  font-weight: 300;
  text-transform: uppercase;
  font-size: 36px;
  margin: 0;
}
h2 {
  font-weight: 300;
  text-transform: uppercase;
  font-size: 30px;
  color: #666;
  margin: 0;
}

.container {
  margin: auto;
  max-width: 460px;
}

.selector {
  position: absolute;
  left: 50%;
  top: -50%;
  width: 300px;
  height: 300px;
  margin-top: -150px;
  margin-left: -150px;
  opacity: 0;
  transition: all .8s;
  &.open {
    opacity: 1;
    top: 50%;
    transition: all .3s;
    .overflow {
      content: '';
      position: fixed;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background: rgba(0,0,0,0.7);
    }

    li input + label {
      width: 80px;
      height: 80px;
      line-height: 80px;
      margin-left: -40px;
      box-shadow: 0 3px 15px rgba(0, 0, 0, 0.7);
      font-size: 14px;
      opacity: 1;
    }
  }
  &.detail {
    margin-left: -325px;
  }
  .detail-product {
    position: absolute;
    right: 0;
    top: 50%;
    width: 300px;
    height: 300px;
    margin-top: -150px;
    margin-right: -150px;
    opacity: 0;
    background: #428bca;
    border-radius: 50%;
    z-index: -1;
    transition: all .8s;
    text-align: center;
    line-height: 300px;
    color: #fff;
    transition: all .3s ease;
    box-shadow: 0 3px 15px rgba(0, 0, 0, 0.7);
    h4 {
      transition: all .3s ease .9s;
      position: absolute;
      top: 20;
      line-height: 30px;
      color: #fff;
      text-align: center;
      width: 100%;
      z-index: -10;
      font-size: 0px;
      opacity: 0;
    }
    .graf {
      position: absolute;
      left: 90px;
      width: 100%;
      text-align: left;
      line-height: 30px;
      transition: all .6s ease 1.2s;
      opacity: 0;
      bottom: 0;
    }
    .fa {
      transition: all .3s ease .6s;
      opacity: 0;
    }
  }
  &.detail .detail-product {
    display: block;
    opacity: 1;
    right: -300px;
    z-index: 0;
    transition: all .3s ease .3s;
    .fa {
      position: absolute;
      padding: 5px;
      border-radius: 50%;
      width: 25px;
      height: 25px;
      text-align: center;
      line-height: 25px;
      box-shadow: 0 3px 5px rgba(0, 0, 0, 0.7);
      opacity: 1;
      &-facebook {
        right: 10px;
        top: 46px;
        background: #4d7fc7;
      }
      &-twitter {
        right: -12px;
        top: 90px;
        background: #00aced;
      }
      &-google-plus {
        right: -17px;
        top: 139px;
        background: #dd4b39;
      }
    }
    .svg-container {
      background: transparent;
      &#graf, &#graf1 {
        text {
          display: none;
        }
      }
    }
    .svg-container {
      position: absolute;
      top: -3px;
      left: -5px;
    }
    h4 {
      top: -160px;
      font-size: 60px;
      opacity: 1;
    }
    .graf {
      bottom: -120px;
      opacity: 1;
    }
    .graf-label {
      display: block;
      &:before {
        content: '';
        background: #5CB85C;
        display: inline-block;
        width: 15px;
        height: 15px;
        margin-right: 15px;
        border: 1px solid #fff;
        color: #fff;
      }
      &-1:before { background: #4E864E; }
      &-2:before { background: #354F35; }
    }
  }
}

.selector,
.selector button {
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
  h5 {
    font-size: 40px;
    text-transform: uppercase;
    margin-bottom: 0;
    margin-top: 20px;
  }
  h3{
    font-size: 60px;
    margin: 0;
  }
}

.selector button {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 10px;
  background: #428bca;
  border-radius: 50%;
  border: 0;
  color: white;
  font-size: 20px;
  cursor: pointer;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.7);
  transition: all .1s;
}

.selector button:hover { background: #3071a9; }

.selector button:focus { outline: none; }

.selector ul {
  position: absolute;
  list-style: none;
  padding: 0;
  margin: 0;
  top: -20px;
  right: -20px;
  bottom: -20px;
  left: -20px;
}

.selector li {
  position: absolute;
  width: 0;
  height: 100%;
  margin: 0 50%;
  -webkit-transform: rotate(-30deg);
  transition: all 0.8s ease-in-out;
  img {
    width: 45px;
    padding-top: 16px;
  }
}

.selector li input { display: none; }

.selector li input + label {
  position: absolute;
  left: 50%;
  bottom: 100%;
  width: 30px;
  height: 30px;
  line-height: 1px;
  margin-left: 0;
  background: #fff;
  border-radius: 50%;
  text-align: center;
  font-size: 1px;
  overflow: hidden;
  cursor: pointer;
  box-shadow: none;
  opacity: 0;
  transition: all 0.8s ease-in-out, color 0.1s, background 0.1s;
}

.selector li input + label:hover { background: #97C597; }

.selector li input:checked + label {
  background: #5cb85c;
  color: white;
}

.selector li input:checked + label:hover { background: #449d44; }
